@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 240 10% 3.9%;
    --primary: 332 80% 60%;
    --primary-foreground: 332 80% 60%;
    --secondary: 250 70% 55%;
    --secondary-foreground: 240 5.9% 10%;
  }

  .dark {
    --background: 0 0% 3%;
    --foreground: 0 0% 98%;
    --primary: 332 80% 60%;
    --primary-foreground: 332 80% 60%;
    --secondary: 250 70% 55%;
    --secondary-foreground: 0 0% 98%;

  }
}

@layer base { 
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
  }

  a {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.square-bg::before {
	--size: 48px;
	--line: color-mix(in lch, canvasText, transparent 90%);
	content: '';
	height: 100svh;
	width: 100%;
	position: fixed;
	background: linear-gradient(
				90deg,
				var(--line) 1px,
				transparent 1px var(--size)
			)
			50% 50% / var(--size) var(--size),
		linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
			var(--size) var(--size);
	mask: linear-gradient(-20deg, transparent 50%, white);
	top: 0;
	transform-style: flat;
	pointer-events: none;
}